# PlatformIO internal build folder (Compiled binaries and object files)
.pio
.pioenvs
.piolibdeps

# VS Code internal settings
.vscode/

# draw.io files
diagrams/.drawio_files

# Local configuration and secret environment variables
*.local
.env

# MacOS system files
.DS_Store

# Temporary files
*.swp
*.bak
*.tmp